* {
    margin: 0;
    padding: 0;

}

#carousel-inner img {
    height: 80vh;
    width: 100%;
}

.carousel-inner img {
    height: 40vh;
    width: 100%;
}
@media screen and (max-width: 980px) {
    #carousel-inner img {
        height: 40vh;
        width: 100%;
    }
    
    .carousel-inner img {
        height: 20vh;
        width: 100%;
    }
  }
  @media screen and (min-width: 981px) {
    #carousel-inner img {
        height: 80vh;
        width: 100%;
    }
    
    .carousel-inner img {
        height: 40vh;
        width: 100%;
    }
  }